<footer class="site-footer">
  <div class="row-fluid">
    <div class="col-lg-4">
      <p>Copyright &copy; <a data-ga-category="social links" data-ga-label="github" href="https://github.com/jwarby">jwarby</a> 2014 - <script type="text/javascript">document.write(new Date().getFullYear())</script></p>
    </div>
    <div class="col-lg-4 text-center profile-links">
      <big>
        <a data-ga-category="social links" data-ga-label="twitter" href="https://twitter.com/warby_" title="warby_ on Twitter"><i class="fa fa-twitter"></i></a>
        <a data-ga-category="social links" data-ga-label="github" href="https://github.com/jwarby" title="jwarby on GitHub"><i class="fa fa-github"></i></a>
        <a data-ga-category="social links" data-ga-label="coderwall" href="https://coderwall.com/warby" title="warby on coderwall"><i class="fa fa-code"></i></a>
      </big>
    </div>
    <div class="col-lg-4 text-right">
      <p>template from <a data-ga-category="external links" data-ga-label="startbootstrap.com" href="http://startbootstrap.com/">Start Bootstrap</a>
      <br>
      theme by <a data-ga-category="external links" data-ga-label="bootswatch.com" href="http://bootswatch.com/">Bootswatch</a></p>
    </div>
  </div>
</footer>

