<header class="site-header">

  <!-- Navigation -->
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">jQuery Awesome Cursor</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navigation">
        <big>
          <ul class="nav navbar-nav">
            <li>
              <a data-category="buttons" data-label="navigation" data-value="installation" href="#installation">Installation</a>
            </li>
            <li>
              <a data-category="buttons" data-label="navigation" data-value="usage" href="#usage">Usage</a>
            </li>
            <li>
              <a data-category="buttons" data-label="navigation" data-value="options" href="#options">Options</a>
            </li>
            <li>
              <a data-category="buttons" data-label="navigation" data-value="examples" href="#examples">Examples</a>
            </li>
            <li>
              <a data-category="buttons" data-label="navigation" data-value="roadmap-and-releases" href="#roadmap-and-releases">Roadmap and Releases</a>
            </li>
            <li>
              <a data-category="buttons" data-label="navigation" data-value="bugs-and-feature-requests" href="#bugs-and-feature-requests">Bug and Feature Requests</a>
            </li>
            <li>
              <a data-category="buttons" data-label="navigation" data-value="license-information" href="#license-information">License Information</a>
            </li>
          </ul>
        </big>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
</header>
