<header class="jumbotron hero-spacer">
  <h1>jQuery Awesome Cursor</h1>
  <p>A jQuery plugin for using FontAwesome icons as custom CSS cursors.  Works in Chrome and FireFox.</p>
  <p>Try hovering over <a href="#" id="demo-link">this!</a></p>
  <p><small>Now also supports using an <a href="#using-different-fonts">alternative icon font</a>!</small></p>
  <br>
  <p>
    <a data-ga-category="github links" data-ga-label="home" href="https://github.com/jwarby/jquery-awesome-cursor" class="btn btn-lg btn-primary"><i class="fa fa-github"></i> View on GitHub</a>
    <a data-ga-category="github links" data-ga-label="fork" href="https://github.com/jwarby/jquery-awesome-cursor/fork" class="btn btn-lg btn-success"><i class="fa fa-code-fork"></i> Fork me on GitHub!</a>
  </p>
</header>
