{
  "extends": "eslint:recommended",
  "env": {
    "browser": true
  },
  "globals": {
    "jQuery": true,
    "$": true,
    "require": true,
    "define": true
  },
  "rules": {
    "no-extra-semi": 0
  }
}
